.container {
  display: flex;
  padding: 1rem 0;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.intro {
  flex: 1;
}
