.site-header {
  display: flex;
  align-items: center;
  background: #5615ff;
  color: #ff5fab;
  min-height: 6rem;
}

.site-title {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
